* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #0b0b0d;
    color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 25px;
}
nav {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #1c1c20;
}

.nav-name {
    font-size: 18px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #777;
    text-decoration: none;
    font-size: 14px;
}

.nav-links a:hover {
    color: #fff;
}
.hero {
    min-height: 550px;

    display: flex;
    align-items: center;
}

.small-text {
    color: #777;
    font-size: 14px;
    margin-bottom: 8px;
}

h1 {
    font-size: 76px;
    letter-spacing: -4px;
    margin: 0;
}

h1 span {
    color: #8b5cf6;
}

.intro-text {
    color: #888;
    font-size: 17px;
    line-height: 1.7;

    max-width: 550px;
    margin-top: 25px;
}